.container {
  width: 80%;
  text-align: center;
  margin: auto;
}

.scooter-row {
  background: #fff;
}

.robot-image {
  width: 25px;
  height: 25px;
}

.heading {
  color: #693aaf;
  text-align: center;
  margin: 5%;
  font-weight: bold;
}

table {
  width: 100%;
}
th {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
}
tr {
  transition: max-height 1s ease-in-out;
}

.filters-button {
  box-sizing: border-box;
  border: 3px solid #009688;
  width: 95%;
  line-height: 2;
  border-radius: 5px;
  font-size: 12px;
  background-color: #009688;
  color: #fff;
  cursor: pointer;
}

.map-button {
  box-sizing: border-box;
  border: 2px solid #009688;
  width: 95%;
  line-height: 2;
  border-radius: 5px;
  font-size: 12px;
  color: #009688;
  background-color: #fff;
  cursor: pointer;
}

.load-more-button {
  border: 3px solid #666;
  width: 20%;
  line-height: 2;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: #999;
  color: #333;
  cursor: pointer;
}

i {
  margin-left: 5%;
  font-size: 16px !important;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
